dist
TAGS
.cabal-sandbox
cabal.sandbox.config
*.hi
*.o
*.dyn_hi
*.dyn_o
.stack-work
.DS*
data/
_shake
_build
exec/
.ghc.environment.*
cabal.project.local
dist-newstyle/
*~
*.tix
.hpc
config
idp-demo.cabal
.envrc
.direnv/
runProcessHook
